<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - スタディポイント</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<a class="navbar-brand" href="#">スタディポイント</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("スタディポイント", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ポイント項目", "Index", "PointItem")</li>
                    <li>@Html.ActionLink("ポイント履歴", "Index", "PointList")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

            @*<div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("ポイント項目", "Index", "PointItem", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("ポイント履歴", "Index", "PointList", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>*@
            @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("スタディポイント", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("ホーム", "Index", "Home")</li>
                <li>@Html.ActionLink("ポイント項目", "Index", "PointItem")</li>
                <li>@Html.ActionLink("ポイント履歴", "Index", "PointList")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - スタディポイント</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
